@model TomPIT.Management.Designers.ISignupDesigner

<div class="document-body">
    <div class="document-container">
        <div class="canvas">
            <div class="paper">
                <div class="document-content">
                    <div class="info-box info">
                        <div class="info-box-header">Tom PIT Marketplace sign up</div>
                        By signing up to the Tom PIT marketplace you'll be able to publish, sell, distribute and deploy your microservices. Tom PIT marketplace is <strong>free to use</strong>.
                        If you already have a <strong>Tom PIT account</strong> you can sign in <a href="#" id="aLogin">here</a>.
                    </div>
                    <div class="tp-form">
                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Company</h4>
                                    <div class="form-group">
                                        <label for="editCompany">Company name</label>
                                        <div id="editCompany"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editCountry">Country</label>
                                        <div id="editCountry"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editWebsite">Website URL</label>
                                        <div id="editWebsite"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Personal</h4>
                                    <div class="form-group">
                                        <label for="edirFirstName">First name</label>
                                        <div id="editFirstName"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editLastName">Last name</label>
                                        <div id="editLastName"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editEmail">Email</label>
                                        <div id="editEmail"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editPhone">Phone</label>
                                        <div id="editPhone"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h4>Authentication</h4>
                                    <div class="form-group">
                                        <label for="editPassword">Passsword</label>
                                        <div id="editPassword"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="editConfirm">Confirm Password</label>
                                        <div id="editConfirm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <button type="button" class="btn btn-primary" id="btnSignup">Create marketplace account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$('#editCompany').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 128
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}]
	});

	$('#editWebsite').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 1024
	});

	$('#editCountry').dxSelectBox({
		items:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Countries)),
		displayExpr: 'Name',
		valueExpr: 'Name',
		stylingMode: 'underlined',
		searchEnabled:true
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}]
	});

	$('#editEmail').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 256
	}).dxValidator({
		validationRules: [
			{
				type: 'required'
			},
			{
			type:'email'
			}]
	});

	$('#editFirstName').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 32
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}]
	});

	$('#editLastName').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 64
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}]
	});

	$('#editPhone').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 48
	});

	$('#editPassword').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 32,
		mode:'password'
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			}]
	});

	$('#editConfirm').dxTextBox({
		stylingMode: 'underlined',
		maxLength: 32,
		mode:'password'
	}).dxValidator({
		validationRules: [
			{
				type: 'required'

			},
			{
				type: 'custom',
				message:'Passwords do not match',
				validationCallback: function (e) {
					var pwd = $('#editPassword').dxTextBox('instance').option('value');

					return pwd === e.value;
				}
			}]
	});

	$('#aLogin').click(function () {
		ide.designerAction({
			data: {
				'action': 'login'
			},
			onComplete: function (data) {
				$('#loginForm').html(data);
			}
		});
	});

	$('#btnSignup').click(function () {
		if (!DevExpress.validationEngine.validateGroup().isValid)
			return;

		ide.designerAction({
			data: {
				'action': 'signupcreate',
				'company': $('#editCompany').dxTextBox('instance').option('value'),
				'website': $('#editWebsite').dxTextBox('instance').option('value'),
				'country': $('#editCountry').dxSelectBox('instance').option('value'),
				'firstName': $('#editFirstName').dxTextBox('instance').option('value'),
				'lastName': $('#editLastName').dxTextBox('instance').option('value'),
				'email': $('#editEmail').dxTextBox('instance').option('value'),
				'phone': $('#editPhone').dxTextBox('instance').option('value'),
				'password': $('#editPassword').dxTextBox('instance').option('value'),
			},
			onComplete: function (data) {
				$('#loginForm').html(data);
				tompit.success('Marketplace account successfully created. You are a step away from publishing and selling you microservices globally.', 'Congratulations and welcome to the Tom PIT marketplace!');
			}
		});
	});

	$('#editCompany').dxTextBox('instance').focus();
</script>
