@model TomPIT.Management.Deployment.ISignupDesigner

<div class="document-body">
    <div class="document-container">
        <div class="canvas">
            <div class="paper">
                <div class="document-content">
                    <div class="text-center">
                        <i class="jumbo-font fal fa-envelope"></i>
                        <h3 class="text-center mt-5">Great!</h3>
                        <hr />
                        Please check your inbox and confirm your email address.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	var iid= setInterval(function () {
		ide.designerAction({
			data: {
				'action': 'checkConfirmation',
				'publisherKey': '@Model.PublisherKey'
			},
			onComplete: function (data) {
				if (typeof data !== 'undefined' && data.length > 0) {
					$('#loginContent').html(data);

					clearInterval(iid);
				}
			}
		});
	}, 5000);
</script>
