@model TomPIT.Management.Designers.ISignupDesigner

<div id="loginForm">
    <div class="document-body">
        <div class="document-container">
            <div class="canvas">
                <div class="paper">
                    <div class="document-content" id="loginContent">
                        @await Html.PartialAsync("~/Views/Ide/Designers/DeploymentLoginForm.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>