@model TomPIT.Models.EnvironmentUnitsModel

	@{
		if (Model.EnvironmentUnits == null)
		{
			return;
		}
	}

	@foreach (var i in Model.EnvironmentUnits)
	{
		<div class="unit-container" data-drag="true">
			@await Html.PartialAsync("~/Views/Ide/Designers/EnvironmentUnitsNode.cshtml", new TomPIT.Models.EnvironmentUnitModel(Model.Designer, i))
		</div>
	}
