@model TomPIT.Designers.EnvironmentUnitsDesigner


<div class="dev-category">
	Add environment unit
</div>

<div class="dev-property">
	<label for="editName">Name</label>
</div>

<div class="dev-property-value">
	<div class="property-grid-editor">
		<div id="editName"></div>
	</div>
</div>

<div class="text-center">
	<button type="button" class="btn btn-outline-primary  btn-sm" id="btnAddUnit">
		Save
	</button>
	<button type="button" class="btn btn-link btn-sm" id="btnCancelAddUnit">
		Cancel
	</button>
</div>

<script>
	$('#editName').dxTextBox({
		maxLength: 128,
		stylingMode: 'underlined'
	}).dxValidator({
		validationRules: [
			{ 'type': 'required' }
		],
		validationGroup: 'unit'
	});

	$('#editName').dxTextBox('instance').focus();

	$('#btnAddUnit').click(function (e) {
		if (!DevExpress.validationEngine.validateGroup('unit').isValid)
			return;

		euDesigner.insertUnit({
			'name': $('#editName').dxTextBox('instance').option('value'),
		});
	});

	$('#btnCancelAddUnit').click(function (e) {
		euDesigner.deselect();
	})
</script>