@model TomPIT.Models.EnvironmentUnitModel

<div class="unit-node" data-id="@Model.EnvironmentUnit.Token">
	@if (Model.Designer.HasChildren(Model.EnvironmentUnit.Token))
	{
		<span data-kind="toggler">
			<i class="fal fa-chevron-right" data-kind="toggler"></i>
		</span>
	}

	<span class="unit-node-text">
		@Model.EnvironmentUnit.Name
	</span>
</div>


<div class="unit-group" group-id="@Model.EnvironmentUnit.Token" data-loaded="false">
	<div class="unit-group-content">

	</div>
</div>

