@model TomPIT.Management.Designers.IntegrationDesigner

@if (!Model.IsLogged)
{
    <div class="mt-5 text-center collapse show">
        <i class="jumbo-font fal fa-user"></i>
        <h3 class="text-center mt-5">Credentials</h3>
        <hr />
        To enable continuous integration you must be logged into Tom PIT Marketplace. Please select <code>Marketplace</code> element, log into the portal or create a new account and then try again.
    </div>
    return;
}

@if (Model.MicroServices.Count == 0)
{
    <div class="mt-5 text-center collapse show">
        <i class="jumbo-font fal fa-check-circle"></i>
        <h3 class="text-center mt-5">Up to date</h3>
        <hr />
        All microservices are up to date with your Marketplace versions.
        <br />
        <div class="text-left p-2">
            <h6>Info</h6>
            To enable Microservice continuous integration follow these steps:
            <ul>
                <li>Create Microservice package and enable automatic versioning by checking the <code>auto</code> check box on the version settings</li>
                <li>By commiting changes the microservice becomes invalidated and will be listed below</li>
            </ul>
        </div>
    </div>
    return;
}

<div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
        <button class="btn btn-light btn-sm" id="btnPublish">Publish</button>
    </div>
</div>

<div class="doc-canvas">
    <div class="paper">
        <h4>Microservices</h4>
        <hr />
        <ul class="list-unstyled">
            @foreach (var microService in Model.MicroServices)
            {
                <li class="py-1">
                    <div @if (microService.CommitStatus == TomPIT.ComponentModel.CommitStatus.Invalidated || microService.CommitStatus == TomPIT.ComponentModel.CommitStatus.PublishError) { @: data-kind="integrate-check"
                         } data-id="@microService.Token"></div>
                    @microService.Name

                    @if (microService.CommitStatus == TomPIT.ComponentModel.CommitStatus.Publishing)
                    {
                        <span class="badge badge-info">Publishing</span>
                    }
                    else if (microService.CommitStatus == TomPIT.ComponentModel.CommitStatus.PublishError)
                    {
                        <span class="badge badge-danger">Publish error</span>
                    }
                </li>
            }
        </ul>
    </div>
</div>

<script>
    $('[data-kind="integrate-check"]').dxCheckBox({
        value: true
    });

    $('#btnPublish').click(function () {
        var items = $('[data-kind="integrate-check"]');
        var selected = [];

        $.each(items, function (i, v) {
            var id = $(this).attr('data-id');
            var checked = $('[data-kind="integrate-check"][data-id="' + id + '"]').dxCheckBox('instance').option('value');

            if (checked)
                selected.push(id);
        });

        ide.designerAction({
            data: {
                'action': 'publish',
                'packages': selected
            },
            onComplete: function (data) {
                $('#devDesigner').html(data);
            }
        })

    });
</script>