@model TomPIT.Management.Designers.MetricDesigner

<div class="doc-canvas">
	<div class="paper">
		<div class="btn-toolbar">
			<button type="button" class="btn btn-sm btn-light" id="btnClear" title="clear"><i class="fal fa-eraser"></i></button>
			<button type="button" class="btn btn-sm btn-light" id="btnRefresh" title="refresh"><i class="fal fa-sync-alt"></i></button>
			<button type="button" class="btn btn-sm btn-light active" id="btnAutoRefresh" title="auto refresh" aria-pressed="true" autocomplete="off"><i class="fal fa-clock"></i></button>
		</div>
		<hr />
		<h4>Sessions</h4>
		<div id="metricsData">
			@await Html.PartialAsync("~/Views/Ide/Designers/MetricData.cshtml")
		</div>
	</div>
</div>

<script>
	var timerActive = true;
	var intervalId = null;
	var freezeRefresh = false;

	$('#btnClear').click(function () {
		if (!confirm('Are you sure you want to clear metrics for this component?'))
			return;

		ide.designerAction({
			'data': {
				'action': 'clear'
			},
			onComplete: function (data) {
				$('#metricsData').html(data);
			}
		});
	});

	$('#btnAutoRefresh').click(function () {
		$(this).button('toggle');

		timerActive = $(this).hasClass('active');

		if (!timerActive)
			clearInterval(intervalId);
		else
			activateAutoRefresh();
	});

	$('#btnRefresh').click(function () {
		refreshMetricsData();
	});

	function activateAutoRefresh() {
		intervalId = setInterval(function () {
			refreshMetricsData();
		}, 5000);
	}

	activateAutoRefresh();

	function refreshMetricsData() {
		if (freezeRefresh)
			return;

		ide.designerAction({
			'data': {
				'action': 'refresh'
			},
			onComplete: function (data) {
				$('#metricsData').html(data);
			}
		});
	}
</script>