@model TomPIT.Marketplace.ISignupDesigner

<div class="mt-5 text-center">
	<i class="jumbo-font fal fa-envelope"></i>
	<h3 class="text-center mt-5">Great!</h3>
	<hr />
	One last step needs to be done. Please check your inbox and confirm your email address.
</div>

<script>
	var iid= setInterval(function () {
		ide.designerAction({
			data: {
				'action': 'checkConfirmation',
				'publisherKey': '@Model.PublisherKey'
			},
			onComplete: function (data) {
				if (typeof data !== 'undefined' && data.length > 0) {
					$('#loginForm').html(data);

					clearInterval(iid);
				}
			}
		});
	}, 5000);
</script>