@model TomPIT.Marketplace.IMarketplaceProxy

<div class="doc-canvas">
	<div class="paper" id="loginForm">
		@await Html.PartialAsync("~/Views/Ide/Designers/PublisherLoginForm.cshtml")
	</div>
</div>

