@model TomPIT.Marketplace.IMarketplaceProxy

<div class="info-box info">
	<div class="info-box-header">Tom PIT Marketplace</div>
	In order to create a micro service package, you must log into Tom PIT marketplace portal. Tom PIT marketplace is <strong>free to use</strong>.
	If you don't have an account yet you can create one <a href="#" id="aCreate">here</a>.
</div>
<h4 class="mt-5 mb-3">Credentials</h4>
<form>
	<div class="form-group">
		<label for="editUser">User</label>
		<div id="editUser"></div>
	</div>

	<div class="form-group">
		<label for="editPassword">Password</label>
		<div id="editPassword"></div>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary">Login</button>
	</div>
</form>

<script>
	$('#editUser').dxTextBox({
	});

	$('#editPassword').dxTextBox({
	});

	$('#aCreate').click(function () {
		ide.designerAction({
			data: {
				'action': 'signup'
			},
			onComplete: function (data) {
				$('#loginForm').html(data);
			}
		});
	});
</script>