/Build/plugins
/Build/packages
/plugins

# ignore all output dirs
App/TomPIT.App.UI/bin
BigData/BigData/bin
Cdn/Cdn/bin
Core/TomPIT.ComponentModel/bin
Core/TomPIT.Core/bin
Core/TomPIT.Sdk/bin
DataProviders/TomPIT.DataProviders.BigData/bin
DataProviders/TomPIT.DataProviders.Modbus/bin
DataProviders/TomPIT.DataProviders.Sql/bin
Development/TomPIT.BigData/bin
Development/TomPIT.BigData.Design/bin
Development/TomPIT.Design/bin
Development/TomPIT.Development/bin
Development/TomPIT.Development.UI/bin
Development/TomPIT.Ide/bin
Development/TomPIT.Ide.UI/bin
Development/TomPIT.Templates.Application/bin
Development/TomPIT.Templates.Application.Design/bin
Development/TomPIT.Templates.IoT/bin
Development/TomPIT.Templates.IoT.Design/bin
IoT/TomPIT.IoT.App/bin
Management/TomPIT.Management/bin
Management/TomPIT.Management.UI/bin
Printing/TomPIT.Connected.Printing.Client/bin
Reporting/TomPIT.Reporting/bin
Reporting/TomPIT.Reporting.Design/bin
Rest/TomPIT.Rest.Api/bin
Runtime/TomPIT.Extensions/bin
Runtime/TomPIT.Runtime/bin
Saas/Clients/Connected.SaaS.Clients/Connected.SaaS.Clients/bin
Saas/Clients/Connected.SaaS.Clients/Connected.SaaS.Clients.HealthMonitoring/bin
Search/Lucene.Core/bin
Search/Lucene.Highlighter/bin
Search/Lucene.Memory/bin
Search/Search/bin
Sys/TomPIT.StorageProvider.Azure/bin
Sys/TomPIT.StorageProvider.Sql/bin
Sys/TomPIT.Sys/bin
Sys/TomPIT.Sys.Api/bin
Sys/TomPIT.SysDb/bin
Sys/TomPIT.SysDb.Sql/bin
Worker/TomPIT.Worker.App/bin