<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="devextreme" value="https://nuget.devexpress.com/3YZq9VqktuMtgWP4j8LVDvmSZzBMruH8Mx3WKkA9dcHO3KC1RQ/api" />
        <add key="SkiaDev" value="https://aka.ms/skiasharp-eap/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <devextreme>
      <add key="Username" value="sog" />
      <add key="cleartextpassword" value="4ccd913147b430b23a9de8b81906ac8c2d460172" />
    </devextreme>
  </packageSourceCredentials>
</configuration>