body {
  /*width: 100vw;
	height: 100vh;*/
  overflow: auto;
}
#devExplorerNodes {
  padding: 2px;
  font-size: 0.8rem;
}
[data-kind="explorer-group"] {
  margin-left: 7px;
  padding-left: 8px;
  border-left: 1px dotted #e0e0e0;
}
[data-tp-tag="progress-container"] {
  padding: 0;
  height: 5px;
}
.dev-explorer-node-content {
  cursor: pointer;
  padding: 2px 3px;
  white-space: nowrap;
}
.dev-explorer-node-content:hover {
  background-color: #03a9f4;
  color: #FFF;
}
.dev-explorer-node-content.active {
  background-color: #9e9e9e;
  color: #FFF;
}
.dev-explorer-node-text {
  display: inline-block;
}
.dev-explorer {
  width: 200px;
}
#devExplorer:focus {
  outline: none;
}
#devExplorer {
  max-height: calc(100vh - 81px);
  min-height: calc(100vh - 81px);
  overflow-y: auto;
  background-color: #f5f5f5;
  color: #616161;
}
.dev-designer {
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  position: relative;
}
#devDesigner {
  height: auto;
  position: relative;
  max-height: calc(100vh - 75px);
  min-height: calc(100vh - 75px);
  max-width: 100%;
  overflow-y: auto;
}
#devSelection {
  max-height: 100%;
  overflow-y: auto;
  background-color: #f5f5f5;
}
#devExplorerToolbar {
  border-bottom: 1px solid #e0e0e0;
}
#ide {
  min-height: 100%;
  height: auto;
  position: relative;
}
.dev-toolbar {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 5px 5px 5px;
  width: 100%;
}
.dev-canvas {
  background-color: #f5f5f5;
  border-left: 1px solid #e0e0e0;
  padding: 5px;
  height: auto;
}
.dev-canvas .paper {
  padding: 15px;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid #e0e0e0;
  height: auto;
}
.dev-property-grid {
  font-size: 0.8rem;
  overflow-y: auto;
  width: 100%;
}
.dev-property-grid-content {
  padding: 5px;
}
.dev-property-grid .dev-category {
  font-variant: small-caps;
  font-weight: 700;
  text-align: center;
}
.dev-no-data {
  text-align: center;
  padding: 25px 15px;
}
.dev-property label {
  margin-bottom: 0;
  color: #0288d1;
}
.dev-property label.obsolete {
  margin-bottom: 0;
  color: #e57373;
  text-decoration: line-through;
}
.dev-property-value {
  padding-bottom: 5px;
}
.dev-property-value input,
.dev-property-value textarea,
.input-group-addon {
  border: 0;
}
.dev-property-value .read-only {
  border-bottom: 1px solid #eeeeee;
}
.dev-property-value .read-only label {
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-bottom: 0;
  font-style: italic;
  color: #bdbdbd;
}
.dev-property-value input.is-invalid,
.dev-property-value textarea.is-invalid {
  border: 1px solid #f44336;
}
.dev-property-value input.is-valid,
.dev-property-value textarea.is-valid {
  border: 1px solid #4caf50;
}
#ide {
  font-size: 0.8rem;
}
#ide h4 {
  font-size: 1rem;
  font-weight: 600;
}
.dev-property-grid-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  padding: 0 5px;
  height: 100px;
  overflow-y: auto;
  white-space: normal;
}
.dev-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #bdbdbd;
  height: 25px;
  padding-top: 3px;
}
.dev-property-avatar {
  width: 24px;
}
h4.dev-title {
  margin-bottom: 25px;
}
#devSelectionTabContent {
  min-height: 200px;
  height: calc(100vh - 120px);
  overflow: auto;
}
.dev-property-grid {
  height: calc(100vh - 230px);
}
@media (max-width: 991px) {
  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #devSelectionTabContent {
    margin-bottom: 130px;
    height: 200px;
  }
}
.dev-tab-content {
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 15px;
  min-height: 100px;
}
.dev-events {
  padding: 15px;
}
.dev-event {
  padding: 5px;
  cursor: pointer;
}
.dev-event:hover {
  color: #0288d1;
}
.dev-event.event-active {
  font-weight: 700;
}
.full-screen {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 40px;
}
.text-editor-sa {
  height: calc(100vh - 122px) !important;
}
.text-editor-int {
  height: calc(100vh - 350px) !important;
  border: 1px solid #e0e0e0 !important;
  border-top: none !important;
}
.text-editor {
  border: 0;
  width: 100%;
  min-height: 75px;
}
.ide-errors-panel {
  position: fixed;
  bottom: 25px;
  width: 100%;
  background-color: #f5f5f5;
  font-family: Consolas, 'Lucida Console';
  font-size: 0.8rem;
  border-top: 1px solid #e0e0e0;
}
.ide-errors-panel:focus {
  outline: none;
}
.ide-errors-panel ul {
  margin: 0;
}
.ide-errors-panel li {
  padding: 0 15px;
  border-bottom: 1px dotted #9e9e9e;
}
.designer-title {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.designer-title .close-editor:hover {
  color: #0288d1;
  cursor: pointer;
}
.monaco-editor,
.monaco-editor-background {
  background-color: #f5f5f5 !important;
}
.margin-view-overlays,
.minimap,
.minimap canvas {
  background-color: #eeeeee !important;
}
.dev-signature {
  padding: 5px;
  font-family: Consolas, 'Lucida Console', Courier New, Courier, monospace;
}
.clickable {
  cursor: pointer;
}
.reflector-type {
  cursor: pointer;
  color: #0288d1;
}
.dev-drag-placeholder {
  background-color: #e1f5fe;
  outline: 1px dashed #e0e0e0;
}
.dev-modal {
  font-size: 1rem;
}
[data-verb] {
  cursor: pointer;
}
#actionSearch:focus {
  box-shadow: none;
}
.dev-language {
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 100px;
  width: 100%;
}
.btn-language {
  color: #616161;
  font-size: 0.8rem;
}
.dev-check {
  padding: 5px 8px;
  border-bottom: 1px solid #eeeeee;
}
.upload-canvas {
  border: 2px dashed #e0e0e0;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 15px;
  width: 100%;
  text-align: center;
}
.modifier-internal {
  font-style: italic;
}
.modifier-private {
  font-style: italic;
  color: #9e9e9e;
}
.template-toolbar {
  padding: 0 5px;
  margin-bottom: 3px;
  height: 31px;
}
.template-toolbar .btn {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.template-toolbar .btn:hover {
  border-color: #e0e0e0;
}
.dev-add-item,
.dev-toolbox-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
}
.dev-add-item:hover,
.dev-toolbox-item:hover {
  background-color: #03a9f4;
  color: #FFF;
}
.dev-add-item-category,
.dev-toolbox-item-category {
  padding: 10px;
  font-variant: small-caps;
  font-weight: 700;
  text-align: center;
}
.add-item-glyph {
  font-size: 5rem;
}
.dev-explorer-node-content:hover [data-fa-i2svg] {
  color: #FFF !important;
}
.dev-explorer-node-content.active .dom-element-warning {
  color: #FFF;
}
.dom-element-warning {
  color: #ff8f00;
}
.dev-explorer-node-danger {
  color: #ef5350;
}
.dev-explorer-node-warning {
  color: #ff8f00;
}
.dev-explorer-node-suggestion {
  color: #2e7d32;
}
.dev-explorer-node-validation {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.dev-explorer-node-validation.validation-error {
  text-decoration-color: #ef5350;
}
.dev-explorer-node-validation.validation-warning {
  text-decoration-color: #ff8f00;
}
.dev-explorer-node-validation.validation-suggestion {
  text-decoration-color: #2e7d32;
}
.errorlist-badge {
  font-weight: 300;
}
li[data-kind="error-item"] {
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
li[data-kind="error-item"]:hover {
  color: #FFF;
  background-color: #2196f3;
}
.error-list-buttons {
  padding: 2px 0;
  border-bottom: 1px solid #e0e0e0;
}
.error-list-button {
  padding: 0 5px;
  cursor: pointer;
  border: 1px solid #f5f5f5;
}
.error-list-button.active {
  border: 1px solid #e0e0e0;
}
.error-list-button:hover {
  color: #FFF;
  background-color: #2196f3;
}
.dx-texteditor.dx-editor-underlined:after {
  border-bottom-color: #e0e0e0 !important;
}
.dx-widget input {
  font-weight: 700;
  color: #424242;
}
#modelTabs {
  padding: 1px 0;
}
.model-tab {
  padding: 3px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  margin: 0 1px;
}
.model-tab.active {
  font-weight: 700;
}
.model-tab .close-model {
  padding: 0 2px;
}
.model-tab .close-model:hover {
  display: inline;
}
span[data-kind="empty"] {
  padding: 0 1px;
}
.tp-namespace {
  color: #b39ddb !important;
}