@import "Variables.less";

.form-editor {
	width: 100% !important;
}

.permission-command-cell {
	width: 50px;
	cursor: pointer;
}

.membership-cell {
	cursor: pointer;
}

.avatar-management-img {
	max-width: 250px;
}

.avatar-management svg {
	font-size: 10rem;
}

.remove-avatar {
	font-size: 0.8rem;
}
