@import "Variables.less";

.form-editor {
	width: 100% !important;
}

.permission-command-cell {
	width: 50px;
	cursor: pointer;
}

.membership-cell {
	cursor: pointer;
}

.avatar-management-img {
	max-width: 250px;
}

.avatar-management svg {
	font-size: 10rem;
}

.remove-avatar {
	font-size: 0.8rem;
}


.env-unit-add {
	border: 2px dashed @Blue100;
	background-color: @LightBlue50;
	width: 100%;
	color:@Blue300;
	padding:5px;
	text-align:center;
	font-size:1.25rem;
	cursor:pointer;
}

.unit-node.selected .env-unit-add {
	border: 2px solid @LightBlue700;
	color:#FFF;
	background-color: @LightBlue500;
}

.unit-node.selected{
	font-weight:bold;
}

.unit-node {
	width: 100%;
	padding: 5px;
	cursor: pointer;
}

.unit-node-text{
	padding-left:5px;
}

.unit-group{
	padding-left:10px;
	
}

.unit-group-content {
	border-left: 1px dotted @Grey500;
}

.info-box{
	border-left: 3px solid;
	padding:5px 15px;
	margin:15px 0;

}

.info-box .info-box-header{
	font-weight:700;
	padding-bottom:5px;
	font-size:1.25em;
}

.info-box.info{
	border-left-color:@Info;
}

.info-box.primary {
	border-left-color: @Primary;
}
.info-box.warning {
	border-left-color: @Warning;
}
.info-box.danger {
	border-left-color: @Danger;
}
.info-box.success {
	border-left-color: @Success;
}
.info-box.secondary {
	border-left-color: @Grey300;
}

.login-box{
	width:450px;
	border:1px solid @Grey200;
	padding:15px;
	border-radius:4px;
	margin-top:25px;
	background-color:#FFF;
}

.tab-container{
	border:1px solid @Grey300;
	border-top:none;
	padding:15px;
}

.dev-form label{
	color:@Grey600;
}

.package-card{
	background-color:#FFF;
	margin:5px;
	border:1px solid @Grey300;
	border-radius:4px;
	width:250px;
	text-align:center;
	display:inline-block;
}


.package-body {
	padding:15px;
}

.package-image svg {
	font-size: 5rem;
	color: @LightBlue300;
}
.package-footer {
	border-top: 1px solid @Grey300;
	padding: 5px;
	height:45px;
}

.package-header {
	border-bottom: 1px solid @Grey300;
	padding: 10px;
}

.package-header .title{
font-weight:700;
}

li.metric-item {
	padding: 5px;
	border-bottom: 1px solid @Grey300;
	cursor: pointer;
}

li.metric-item.fail,
li.metric-item.fail .slow,
li.metric-item.fail .fast {
	background-color: @Red500;
	color: #FFF;
}

li.metric-item.fail[data-detail="true"]{
	background-color:#FFF;
	padding:5px;
}

.metric-item .slow {
	color: @Danger;
}

.metric-item .fast {
	color: @Success;
}

.metric-item .tab-content {
	border: 1px solid @Grey300;
	border-top:none;
	padding:5px;
}

.kpi{
	padding:5px;
	border-radius:4px;
	text-align:center;
}

.kpi.info{
	background-color:@Info;
	border-color:@InfoDark;
	color:#FFF;
}

.kpi-title{

}

.kpi-value{
	font-size:2rem;
	white-space:nowrap;
}

.kpi-measure-unit {
	font-size: 0.9rem;
}

.metric-item pre {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 1rem;
	word-break: normal;
}

.log-source{
	color:@Grey500;
}

.log-item{
	padding:5px;
	border-bottom:1px solid @Grey300;
}

.log-item .info,
.log-item .verbose {
	color: @Info;
}

.log-item .warning {
	color: @Warning;
}

.log-item .danger{
	color:@Danger;
}

.log-item .status{
	font-size:2rem;
}

.package-toolbar{
	border-bottom:1px solid @Grey300;
	padding-bottom:5px;
	margin-bottom:5px;
}

.package-total{
	font-size:1.25rem;
	color:@Success;
}

.package-info-header{
	margin-left:15px;
	padding-left:15px;
	border-left:1px solid @Info;
}

.package-price{
	font-size:1.5rem;
}

.package-price hr{
	margin-bottom:0;
}

.package-price small{
	font-size:0.9rem;
}

.package-configuration{
	border: 1px dotted @Info;
	padding:15px;
	background:@LightBlue50;
}

.package-configuration .title{
	color:@Info;
}

.package-configuration label{
	font-weight:700;
}

.package-configuration a.resource-group-dropdown {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0.8rem;
	color:@BodyColor;
}

[data-behavior="toggle"]
{
	cursor: pointer;
}

.not-enabled{
	color:@Grey400;
}

.dependency-children{
	margin-left:15px;
}

.dependency-title {
	padding: 10px 0;
	margin-top:5px;
}
