.btn-primary {
  background-color: #03a9f4;
  border-color: #039be5;
}
.btn-primary:hover {
  background-color: #039be5;
  border-color: #0288d1;
}
.btn-link {
  color: #03a9f4;
}
.btn-link:hover {
  color: #039be5;
}
.tp-toolbar .btn {
  border-radius: 2px;
}
.dx-texteditor.dx-editor-underlined:after {
  border-bottom-color: #e0e0e0 !important;
}
.dev-property-grid .dx-widget input {
  font-weight: normal;
}
.dev-property-grid .dx-widget input,
.dev-property-grid .dx-widget select,
.dev-property-grid .dx-widget textarea {
  font-size: 0.8rem;
}
.dx-list-item-content {
  font-size: 0.8rem !important;
}
.dx-widget input {
  font-weight: 700;
  color: #424242;
}
.badge-primary {
  background-color: #03a9f4;
}
.tp-form .btn,
.document-toolbar .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.tp-form .header {
  padding: 15px;
  border-bottom: 0;
}
.tp-form .body {
  padding: 15px;
}
.tp-form .form-group label,
.tp-criteria .form-group label {
  font-size: 0.8rem;
  color: #757575;
  padding-top: 5px;
}
.tp-form .toolbar {
  background-color: #f5f5f5;
  padding: 15px 40px;
  border-bottom: 1px solid #e0e0e0;
}
.tp-form .header h4,
.tp-form h4 {
  font-weight: 100 !important;
  font-size: 1.15rem !important;
  padding: 15px 0 !important;
}
.tp-form h4.section,
.tp-form a.section {
  color: #1976d2;
}
.tp-form a.section {
  display: block;
}
.tp-form a.section[aria-expanded="false"] {
  color: #757575;
}
.tp-form .footer {
  background-color: #FFF;
  border-top: 0;
  padding: 15px;
}
.tp-form .tp-data {
  font-weight: 700;
}
.tp-form-dismiss {
  cursor: pointer;
}
[data-button="cancel"] {
  margin-left: 2px;
}
.tp-criteria {
  padding-bottom: 25px;
}
.tp-form .input-panel {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 2px;
}
.tp-form .input-panel.primary {
  background-color: #1e88e5;
}
.tp-form .input-panel.primary .dx-placeholder,
.tp-form .input-panel.primary input {
  color: #FFF;
}
.tp-form .input-panel.primary .dx-texteditor.dx-state-focused:before,
.tp-form .input-panel.primary .dx-texteditor.dx-state-active:before {
  border-bottom-color: #FFF;
}
.tp-form .input-panel.primary .dx-icon {
  background-color: #FFF;
  color: #1e88e5;
}
.tp-form .input-panel.info {
  background-color: #b3e5fc;
  border-left-color: #4fc3f7;
}
.tp-form .input-panel.info .dx-placeholder,
.tp-form .input-panel.info input {
  color: #03a9f4;
}
.tp-form .input-panel.info .dx-texteditor.dx-state-focused:before,
.tp-form .input-panel.info .dx-texteditor.dx-state-active:before {
  border-bottom-color: #03a9f4;
}
.tp-form .input-panel.warning {
  background-color: #ffe0b2;
  border-left-color: #ffb74d;
}
.tp-form .input-panel.warning .dx-placeholder,
.tp-form .input-panel.warning input {
  color: #ff9800;
}
.tp-form .input-panel.warning .dx-texteditor.dx-state-focused:before,
.tp-form .input-panel.warning .dx-texteditor.dx-state-active:before {
  border-bottom-color: #ff9800;
}
.tp-form .input-panel.danger {
  background-color: #ffcdd2;
  border-left-color: #e57373;
}
.tp-form .input-panel.danger .dx-placeholder,
.tp-form .input-panel.danger input {
  color: #f44336;
}
.tp-form .input-panel.danger .dx-texteditor.dx-state-focused:before,
.tp-form .input-panel.danger .dx-texteditor.dx-state-active:before {
  border-bottom-color: #f44336;
}
.tp-form .input-panel.success {
  background-color: #c8e6c9;
  border-left-color: #81c784;
}
.tp-form .input-panel.success .dx-placeholder,
.tp-form .input-panel.success input {
  color: #4caf50;
}
.tp-form .input-panel.success .dx-texteditor.dx-state-focused:before,
.tp-form .input-panel.success .dx-texteditor.dx-state-active:before {
  border-bottom-color: #4caf50;
}
.tp-form .input-panel .dx-texteditor.dx-editor-underlined:after {
  border: 0;
}
@media (min-width: 576px) {
  .tp-form .tp-section-block {
    padding: 15px;
  }
}
@media (max-width: 575px) {
  .tp-form .tp-section-block {
    padding: 15px 0;
  }
}
.tp-form .header h4 {
  font-weight: 100;
}