.microservice-card {
  border: 1px solid #bbdefb;
  display: inline-block;
  margin: 5px 0;
  min-width: 350px;
  vertical-align: top;
}
.microservice-api-card {
  border: 1px solid #ffe0b2;
  display: inline-block;
  margin: 5px 0;
  vertical-align: top;
  min-width: 350px;
}
.microservice-api-card .microservice-api-header {
  text-align: center;
  background-color: #fff3e0;
  height: 44px;
}
.microservice-card .microservice-body {
  padding: 5px;
  white-space: nowrap;
}
.microservice-api-card .microservice-api-body {
  padding: 0 5px;
}
.microservice-card .microservice-header {
  text-align: center;
  background-color: #e3f2fd;
}
.microservice-card .microservice-header.active {
  border-bottom: 1px solid #bbdefb;
}
.microservice-api-card .microservice-api-header.active {
  border-bottom: 1px solid #ffe0b2;
}
.microservice-card .microservice-name,
.microservice-api-card .microservice-api-name {
  font-weight: 500;
  font-size: 0.8rem;
}
.technology-tree {
  border: 1px solid #e0e0e0;
  padding: 5px;
  border-radius: 4px;
}
.api-operation-list {
  padding-left: 25px;
}
.vc-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
}
.vc-item-disabled {
  color: #9e9e9e;
}
[data-kind="include"] {
  width: 40px;
}
.test-case {
  padding-left: 15px;
}