@using TomPIT;

@model TomPIT.Design.Ide.Properties.IProperty

@{

    string value = string.Empty;

    if (Model.SupportsTimezone)
    {
        if (Model.Value is DateTime)
        {
            value = Types.ToDisplayFormat(Model.Environment.Context.Services.Globalization.FromUtc((DateTime)Model.Value), Model.Format);
        }
        else
        {
            value = Types.ToDisplayFormat(Model.Value, Model.Format);
        }
    }
    else
    {
        value = Types.ToDisplayFormat(Model.Value, Model.Format);
    }
}

<div class="read-only">
    <label>
        @Html.Raw(value)
    </label>
</div>
