@using TomPIT;

@model TomPIT.Design.Ide.Properties.IProperty

@{

    var user = Model.Environment.Context.Services.Identity.GetUser(Types.Convert<string>(Model.Value));
}

<div class="read-only">
    <label>
        @if (user != null)
        {
            <img class="img-fluid rounded-circle dev-property-avatar" src="" />

            @Html.Raw(user.DisplayName())
        }
    </label>
</div>
