
@model TomPIT.Development.Models.HomeModel

@{
   Layout = "~/Views/Shared/Shell.cshtml";
}

@section head{
    <partial name="~/Views/Shared/DevHeader.cshtml" />
}

<div class="doc-canvas h-100">
    <div class="paper">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" id="btnMicroServiceList" class="btn btn-sm active btn-light" title="Microservices" data-tool="MicroServiceList" data-group="view"><i class="fal fa-puzzle-piece"></i></button>
                        <button type="button" id="btnComponentList" class="btn btn-sm btn-light" title="Components" data-tool="ComponentList" data-group="view"><i class="fal fa-file"></i></button>
                    </div>
                    <hr/>
                </div>
            </div>
            <div id="toolContainer">
                @await Html.PartialAsync("~/Views/Tools/MicroServiceList.cshtml")
            </div>
        </div>
    </div>
</div>

<script>
    $('[data-tool]').click(function () {
        var button = $(this);
        var tool = $(this).attr('data-tool');

        tompit.post({
            'url': '@Model.Services.Routing.RootUrl/sys/tool/' + tool,
            onSuccess: function (data) {
                $('[data-group="view"]').removeClass('active');
                button.addClass('active');
                $('#toolContainer').html(data);
            }
        });
    });
</script>