@using TomPIT.MicroServices.IoT;

@model TomPIT.MicroServices.IoT.Models.IoTPartialModel

@foreach (var i in Model.TargetStencils)
{
	<div data-stencil="@i.Name">
		@await Html.PartialAsync(i.View(), i.CreateModel(Model))
	</div>
}