@using  TomPIT.Serialization;

@model TomPIT.Development.Models.VersionControlDesignerModel

@{
    var scriptUrl = $"{Model.Services.Routing.RootUrl}/assets/scripts/vc/bindings.js";
}

<div class="tp-form">
    <div class="container" id="bindings">
        <div class="row mt-1">
            <div class="col">
                <div class="btn-group btn-group-small" role="group">
                  <button type="button" class="btn btn-primary btn-small" id="btnAddBinding">Add binding</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div id="list" class="collapse show">
                        <div id="gridList"></div>
                    </div>
                    <div id="form" class="collapse">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">

    import { Bindings } from '@scriptUrl';

    versionControl.bindings = new Bindings({
        selector: '#bindings',
        dataSources: {
            bindings:@Html.Raw(Serializer.Serialize(Model.Repositories))
        }
    });
</script>
