@using TomPIT.Serialization;

@model TomPIT.Development.Models.VersionControlDesignerModel

@{
    var scriptUrl = $"{Model.Services.Routing.RootUrl}/assets/scripts/vc/push.js";
}

    <div class="tp-form">
        <div class="container" id="push">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Binding</label>
                        <div id="editBinding"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Comment</label>
                        <div id="editComment"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" disabled id="btnPush">Push</button>
                </div>
            </div>
        </div>
    </div>

<script type="module">

    import { Push } from '@scriptUrl';

    new Push({
        selector: '#push',
        dataSources: {
            bindings:@Html.Raw(Serializer.Serialize(Model.Repositories))
        }
    });
</script>
