@using System.Text.Encodings.Web;

@model TomPIT.Development.Models.VersionControlModel

@{
    Layout = "~/Views/Shared/Shell.cshtml";

    var scriptUrl = $"{Model.Services.Routing.RootUrl}/assets/scripts/versionControl.js";
    var textEditorPath = $"{Model.Services.Routing.RootUrl}/Assets/Libraries/monaco/vs";
}

@section head{
    <link rel="stylesheet" type="text/css" href="~/Assets/Styles/versionControl.min.css" />

}

<script src="~/Assets/Libraries/monaco/vs/loader.js"></script>

<div id="versionControl">
    <div class="container-fluid">
        <div class="row">
            <div class="btn-toolbar dev-toolbar justify-content-between" role="toolbar" name="designerToolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <a href="#" data-command="view-changes" class="btn btn-small btn-link active" role="button">Changes</a>
                    <a href="#" data-command="view-push" class="btn btn-small btn-link" role="button">Push</a>
                    <a href="#" data-command="view-bindings" class="btn btn-small btn-link" role="button">Bindings</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 px-0">
                <div name="explorer">
                    <div name="explorerToolbar" class="btn-toolbar tp-vc-explorer-toolbar">

                    </div>
                    <div name="explorerContent">

                    </div>
                </div>
            </div>
            <div class="col-sm-9 px-0">
                <div name="diff">

                </div>
                <div name="designer">
                    designer
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    tompit.disableNavigation();
</script>

<script type="module">
    require.config({ paths: { 'vs': '@textEditorPath' } });

    import { VersionControl } from '@scriptUrl';

    window.versionControl = new VersionControl({
        selector: '#versionControl',
        rootUrl:'@Model.Services.Routing.RootUrl'
    });
</script>
