<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="printers" type="TomPIT.Connected.Printing.Client.Configuration.PrintersConfigurationHandler, TomPIT.Connected.Printing.Client" />
  </configSections>  
   <appSettings>
	   <add key="cdnUrl" value="http://sys-app/common/cdn/" />
	   <add key="token" value="0f69745a-c65f-437b-a025-5ed52e5dca72" />
    <!-- availablePrinters can be "default" (only default printer), "installed" (all installed printers) or semi-colon separated list of printer names -->
    <add key="availablePrinters" value="list" />
    <!-- loggingLevel can be "off" < "fatal" < "error" < "warning" < "info" < "debug" < "trace" < "all" -->
    <add key="loggingLevel" value="all" />
    <!-- exceptionLoggingLevel can be "off", "errorMessage" or "stackTrace" -->
    <add key="exceptionLoggingLevel" value="errorMessage" />
    <add key="printerNameMappings" value="" />

	   <!-- the timeout of a single print job in seconds -->
	   <add key="printJobTimeout" value="30" />
  </appSettings>
  <printers>
    <printer  name="\\GRBKRIVLJENJE1\NalepkeKRIVLJENJE"
              resourceName="Honeywell PC42t (203 dpi) - DP"/>
  </printers>

</configuration>