<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="cdnUrl" value="http://sys-app/common/cdn/" />
      <add key="token" value="0f69745a-c65f-437b-a025-5ed52e5dca72" />
      <!-- availablePrinters can be "default" (only default printer), "installed" (all installed printers) or semi-colon separated list of printer names -->
      <add key="availablePrinters" value="Microsoft Print to PDF;Foxit Reader PDF Printer" />
      <!-- loggingLevel can be "off" < "fatal" < "error" < "warning" < "info" < "debug" < "trace" < "all" -->
      <add key="loggingLevel" value="all" />
      <!-- exceptionLoggingLevel can be "off", "errorMessage" or "stackTrace" -->
      <add key="exceptionLoggingLevel" value="errorMessage" />

    <!-- printerNameMappings is semi-colon separated list of mapped printer names in form of friendlyName=printerName;friendlyName2=printerName2... -->
    <add key="printerNameMappings" value="Test Printer PDF=Microsoft Print to PDF;Test Printer PDF 2=Foxit Reader PDF Printer" />
  </appSettings>  
</configuration>