<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="printers" type="TomPIT.Connected.Printing.Client.Configuration.PrintersConfigurationHandler, TomPIT.Connected.Printing.Client" />
    <section name="printerMappings" type="TomPIT.Connected.Printing.Client.Configuration.MappingsConfigurationHandler, TomPIT.Connected.Printing.Client" />
  </configSections>
  <appSettings>
    <add key="cdnUrl" value="http://sys-app/common/cdn/" />
    <add key="token" value="0f69745a-c65f-437b-a025-5ed52e5dca72" />
    <!-- availablePrinters can be "default" (only default printer), "installed" (all installed printers), "list" (list of names from printers section below) or semi-colon separated list of printer names -->
    <add key="availablePrinters" value="list" />

    <!-- loggingLevel can be "off" < "fatal" < "error" < "warning" < "info" < "debug" < "trace" < "all" -->
    <add key="loggingLevel" value="error" />

    <!-- exceptionLoggingLevel can be "off", "errorMessage" or "stackTrace" -->
    <add key="exceptionLoggingLevel" value="errorMessage" />

    <!-- printerNameMappings is semi-colon separated list of mapped printer names in form of friendlyName=printerName;friendlyName2=printerName2...; it is combined with  -->
    <add key="printerNameMappings" value="" />
    
	<!-- the timeout of a single print job in seconds -->
	<add key="printJobTimeout" value="30" />
  </appSettings>
  <printers>
    <printer name="\\GRBKRIVLJENJE1\NalepkeKRIVLJENJE" />
    <printer name="\\skladisce1\NalepkeSKLADISCE" />
    <printer name="NalepkeLOCAL" />
    <printer name="NalepkePHOENIX" />
    <printer name="PisarneXeroxB1025MFP" />
    <printer name="PisarnaLJM426fdn" />
    <printer name="ProizvodnjaLJM130fw" />
    <printer name="\\skladisce1.gorenc.lan\SkladisceLJM402dn" />
    <printer name="\\grblaser-3015\NalepkeAXEL" />
  </printers>

  <printerMappings>
    <mapping resourceName="Honeywell PC42t (203 dpi) - DP" printerName="\\GRBKRIVLJENJE1\NalepkeKRIVLJENJE" />
    <mapping resourceName="Honeywell SKLADIŠČE" printerName="\\skladisce1\NalepkeSKLADISCE" />
    <mapping resourceName="Nalepke LOCAL" printerName="NalepkeLOCAL" />
    <mapping resourceName="Nalepke PHOENIX" printerName="NalepkePHOENIX" />
    <mapping resourceName="Xerox B1025 Multifunction Printer" printerName="PisarneXeroxB1025MFP" />
    <mapping resourceName="Pisarna LJM" printerName="PisarnaLJM426fdn" />
    <mapping resourceName="Proizvodnja LJM" printerName="ProizvodnjaLJM130fw" />
    <mapping resourceName="Skladišče LJM" printerName="\\skladisce1.gorenc.lan\SkladisceLJM402dn" />
    <mapping resourceName="Nalepke AXEL" printerName="\\grblaser-3015\NalepkeAXEL" />
  </printerMappings>
</configuration>