@model TomPIT.Ide.Designers.ICollectionDesigner

@{
	var setting = (ViewBag.CollectionItem as TomPIT.Ide.Collections.ItemDescriptor).Value as TomPIT.Configuration.ISetting;
}
<div data-component="list-item">
	<div>
		<strong>@setting.Name</strong>
	</div>
	<div>@setting.Value</div>
</div>
