@model TomPIT.Models.IUIModel


@if (Model.Navigation == null || Model.Navigation.Links.Count == 0)
{
	return;
}


@foreach (var i in Model.Navigation.Links.GroupBy(f => f.Category))
{
	<div class="nav-category">
		<h6>@i.Key</h6>
	</div>
	<ul class="nav-content">
		@foreach (var j in i)
		{
			var activeCss = Model.CompareUrls(ViewContext.HttpContext.Request.Path, j.Url)
				? "active"
				: string.Empty;

<li class="nav-item @activeCss">
	<a href="@j.Url"><span class="txt">@j.Text</span></a>
</li>

}
	</ul>
}

