@model TomPIT.IoT.Designers.IoTViewDesigner

<div class="btn-toolbar" role="toolbar">
	<div class="btn-group btn-group-sm" role="group">
		<button type="button" class="btn btn-light" id="btnIoTDelete" title="Remove"><i class="fal fa-times"></i></button>
	</div>
</div>