@model TomPIT.Development.Designers.StringTableDesigner



    <div class="doc-canvas">
        <div class="paper">
            <div id="gridStrings">

            </div>
        </div>
    </div>
<script>
    $('#gridStrings').dxDataGrid({
        dataSource: @Html.Raw(TomPIT.Serialization.SerializationExtensions.Serialize(Model.Items)),
        keyExpr: 'id',
        editing: {
            mode: "cell",
            allowUpdating: true,
            allowAdding: true,
            allowDeleting:true,
            selectTextOnEditStart: true,
            startEditAction: "click"
        },
        paging: {
            pageSize: 10
        },
        pager: {
            showInfo: true
        },
        searchPanel: {
            visible: true,
            placeholder: "search..."
        },
        onInitNewRow: function (e) {
            e.data.isLocalizable = true;
        },
        onRowInserting: function (e) {
            var d = $.Deferred();

            ide.designerAction({
                data: {
                    'action': 'add',
                    'key': e.data.key,
                    'defaultValue': e.data.defaultValue,
                    'isLocalizable': e.data.isLocalizable
                },
                onComplete: function (data) {
                    e.data.id = data;

                    d.resolve();
                },
                onError: function () {
                    d.reject();
                    return false;
                }
            });

            e.cancel = d.promise();
        },
        onRowUpdating: function (e) {
            ide.designerAction({
                data: {
                    'action': 'update',
                    'id': e.key,
                    'key': e.newData.key,
                    'defaultValue': e.newData.defaultValue,
                    'isLocalizable': e.newData.isLocalizable
                }
            });
        },
        onRowRemoving: function (e) {
            ide.designerAction({
                data: {
                    'action': 'delete', 
                    'id': e.key
                }
            });
        },
        columns: [
              {
                dataField: "key",
                caption: "Key",
                sort:'asc',
                 validationRules: [{ type: "required" }]
            },
              {
                dataField: "defaultValue",
                caption: "Default value"
            },
            {
                dataField: "isLocalizable",
                caption: "Localizable",
                dataType:'boolean'
            },

        ]
    });
</script>