@model TomPIT.Ide.IEnvironment

<div class="row no-gutters">
	<div class="col-lg-2 col-sm-6">
		<div id="devExplorer" tabindex="0">
			<div id="devExplorerToolbar" class="btn-toolbar">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-sm btn-light" id="exBtnCollapse" title="Collapse all nodes"><i class="fal fa-minus-square"></i></button>
				</div>
			</div>
			<div id="devExplorerNodes">
				@await Html.PartialAsync("~/Views/Ide/Dom.cshtml", Model)
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-6 dev-designer">
		<div data-tp-tag="progress-container"></div>
		<div id="devDesigner">
			@await Html.PartialAsync("~/Views/Ide/Designers/Empty.cshtml", Model)
		</div>
	</div>
	<div class="col-lg-2">
		<div id="devSelection">
			@await Html.PartialAsync("~/Views/Ide/Selection/Selection.cshtml", Model)
		</div>
	</div>
</div>
<div class="row no-gutters dev-footer bg-dark" id="devStatus">

</div>
<script type="text/html" id="docTemplate">
	<div class="doc-title">
		<%= text %>

		<%
		var css ='fa-times';
		var kind = 'close';

		if(!pinned)
		{
		css = 'fa-thumbtack';
		kind = 'pin';
		}
		%>

		<span class="float-right small doc-control-box" data-kind="<%= kind %>"><i class="fal <%= css %>"></i></span>
	</div>
</script>