@model TomPIT.App.Models.UIInjectionModel

@{ 
   var views = Model.Views;

   if(views==null||views.Count==0)
   {
       return;
   }
}

    <div>
        <ul>
            @foreach (var view in views)
            {
                <li data-selector="@view.Selector" data-inject="@view.InjectionMode">
                    @await Html.TP().Partial.Render(view.Partial)
                </li>
            }
        </ul>
    </div>